<html>
    <head>
        <title></title>
    </head>
    <body>
        <h2>You found {{ gameinfo }} matches!</h2>
        <a class="btn btn-default" href="/" role="button">Play Again!</a>

    </body>
</html>
